<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시글 상세</h2>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <td th:text="${board.id}"></td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${board.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${board.author}"></td>
            </tr>
            <tr>
                <th>작성시간</th>
                <td th:text="${board.createdDate}"></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td th:text="${board.viewCount}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${board.content}"></td>
            </tr>
            <tr th:if="${board.attachedFile == 1}">
                <th>첨부파일</th>
                <td th:each="boardFile : ${boardFileList}">
                    <img th:src="@{|/uploadImage/${boardFile.storedFilename}|}" alt="" width="300" height="300"/>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/board/edit/{boardId}(boardId=${board.id})}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/board/delete/{boardId}(boardId=${board.id})}'|"
                    type="button">삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/board}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>