<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/board/insert" method="post" enctype="multipart/form-data">
    제목: <input type="text" name="title"><br>
    작성자: <input type="text" name="user_id"><br>
    내용: <textarea name="content" cols="30" rows="10"></textarea><br>
    평점: <input type="text" name="rating"><br>
    파일: <input type="file" name="boardFile" multiple><br>
    <input type="submit" value="작성">
</form>
</body>
</html>