<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{|/update/${board.id}|}" method="post" name="updateForm">
    <input type="hidden" name="id" th:value="${board.id}">
    writer: <input type="text" name="boardWriter" th:value="${board.user_id}" readonly><br>
    title: <input type="text" name="boardTitle" th:value="${board.title}"><br>
    contents: <textarea name="boardContents" cols="30" rows="10" th:text="${board.content}"></textarea><br>
    <input type="button" value="수정" onclick="board_update()">
</form>
</body>
</html>